.panel {
  width: 100%;
  max-width: 600px;
  background: var(--color-primary);
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  border: 2px solid #000;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
